* {
    padding: 0;
    margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
    margin: auto;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

.main-page {
    display: flex;
    margin-bottom: 30px;
}

.foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    height: 600px;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
}

.foto img {
    width: 95%;
}

.deskripsi {
    margin-left: 60px;
    width: 50%;
}

.productTitle {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 10px;
}

.productPrice {
    margin-bottom: 30px;
}

.productDesc , .productBenefits{
  font-style: 24px;
  color: grey;
  text-align: justify;
  line-height: 1.8;
  margin-bottom: 20px;
}

.productBenefits {
    margin-bottom: 60px;
}

.colors,
.sizes {
  display: flex;
  margin-bottom: 20px;
}

.color {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: black;
  margin-right: 10px;
  cursor: pointer;
}

.color:last-child {
  background-color: darkblue;
}

.size {
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 10px;
}

.productButton {
    text-decoration: none;
    padding: 15px 55px;
    background-color: greenyellow;
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
}

.productButton:hover {
  background-color: rgb(122, 194, 14);
  color: white;
  border: 0;
}

.payment {
  width: 500px;
  height: 500px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 50px;
  display: none;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}

.payTitle {
  font-size: 20px;
  color: lightgray;
}

label {
  font-size: 14px;
  font-weight: 300;
}

.payInput {
  padding: 10px;
  margin: 10px 0px;
  border: none;
  border-bottom: 1px solid gray;
}

.payInput::placeholder {
  color: rgb(163, 163, 163);
}

.cardIcons {
  display: flex;
}

.cardIcon {
  margin-right: 10px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.sm {
  width: 30%;
}

.payButton {
  position: absolute;
  height: 40px;
  bottom: -40;
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  background-color: #369e62;
  color: white;
  border: none;
  cursor: pointer;
}

.close , .closeLogin{
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: gray;
  color: white;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2px;
}

.review {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.review h2 {
  margin-top: 50px;
}

.reviewBox {
    width: 50%;
    margin: 20px 0;
    display: flex;
}

.reviewBox img {
  width: 80px;
  aspect-ratio: 1/1;
  border-radius: 11px;
  margin-right: 16px;
}

.reviewBox .user h3 {
  margin-bottom: 8px;
}

@media screen and (max-width:480px) {
  .container {
    width: 90%;
    margin: 20px;
  }
  .main-page {
    width: 100%;
    flex-direction: column;
  }

  .foto {
    width: 100%;
    height: 400px;
  }

  .deskripsi {
    width: 100%;
    margin: auto;
  }

  .review {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .reviewBox {
    width: 100%;
  }
  
}