body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 1800px;
}

/* Navbar */
.navbar-brand {
    font-family: Cinzel;
    font-size: 32px;
    color: #040AAA !important;
    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.2);
}

.nav-link {
    font-family: "Montserrat Alternates";
    color: black !important;
}

/* Carousel */
.container-carousel {
    width: 100%;
    height: auto;
}

.slider-container {
    width: 100%;
    height: auto;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {  
    width: 100%;
    height: auto;
    vertical-align: middle;
    /* border: 2px solid red; */
}

.prev-btn,
.next-btn {
    width: 40px;
    height: 60px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    transition: color 0.3s ease;
}

.prev-btn {
    left: 0px;
}
.next-btn {
    right: 0px;
}

.prev-btn:hover,
.next-btn:hover {
    color: rgb(255, 255, 255);
}

.lines {
    position: absolute;
    display: flex;
    bottom: 10px;
}

.active,
.line {
    padding: 3px 3px;
    margin: 0 5px;
    background-color: rgba(240, 240, 255, 0.7);
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.line:hover {
    background-color:  rgb(255, 255, 255);
}

.slider {
    display: none;
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade{
    from{
        opacity: 0.8;
    }
    to{
        opacity: 1;
    }
}


/* DESKTOP VERSION */
@media (min-width: 992px) {
    .nav-link {
        margin-right: 20px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #040AAA;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .navbar-brand,
    .navbar-nav {
        margin: 0 50px;
    }

    .slider-container img {
        width: 1200px;
        height: 580px;
        border-radius: 10px;
    }

    .prev-btn {
        left: 70px;
    }

    .next-btn {
        right: 70px;
    }
}